<link rel="stylesheet" href="/css/home.css">
<div class="hero-section">
    <header class="header">
        <div class="container">
            Welcome Admin
        </div>
    </header>

    <form action="" id="loginForm">
        <div class="smallText">
            This is admin panel of Telegram-bot : @HospalsBot,
            Login to see Dashboard.
        </div>
        <a class="whiteBtn" href="/user/auth/google">Sign in with
            Google
        </a>
    </form>
</div>