@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:wght@100&display=swap');
@mixin flexRow{
    display: flex;
    flex-direction: row;
    padding: 0.7rem;
  }
  $primary-color: #c66a6a;
  $primary-font: 'Sorts Mill Goudy', serif;


  @mixin headText{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
  }
  @mixin smallText{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
  }